html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.disc-item {
    background-color: #f8f8f8; /* Optional: Add some background color for better visibility */
    border: 1px solid #ddd; /* Optional: Add some border */
    border-radius: 8px; /* Optional: Add some border radius */
    padding: 16px;
    box-sizing: border-box;
}
  
.disc-card {
border: 1px solid #ccc;
padding: 10px;
}

.dropdown{
    position: relative;
}

.disc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px; /* Adjust the gap between items as needed */
}